/* h1{
    color: rgb(0, 255, 0);
}
p{
    color: brown;
}
button{
    color: red;
    background-color: antiquewhite;
}
body{
    background-color: #ffff00;

} */
*{
    color: red;
    background-color:aliceblue ;
}
#heading1{
    color: yellow;
}
.myclass{
    color: pink;
}