*{
    background-color: black;
    
}

#but1{
    background-color: white;
}

#but2{
    background-color: orange;
    color: white;
}

#ama1{
    color: orange;
}

a{
    text-decoration: none;
    color: white;
}

div{
    color: white;
    border: 5px solid white;
}






















/* div{
    /* background-color: green; */
    /* height: 100px;
    width: 100px; */
    /* border-radius: 50%; */
    /* border-width: 2px;
    border-style: solid;
    border-color: brown;
    /* text-align: center; */
    /* border-radius: 15px; */
    /* padding-left: 25px;
    margin-top: 50px; */ 
/* } */
/* h1{
    background-color: greenyellow;
    height: 100px;
    width: 200px;
    border-width: 2px;
    border-style: dotted;
    border-color: brown;
    text-align: center;
    border: 2px solid blue;
    /* border-radius: 15px; */
    /* border-radius: 50%;
/* } */ 
