#navbar{
    height: 60px;
    background-color: black;
    border-color: white;
}

#logo{
    color: orange;
    font-size: 25px;

}

a{
    color: white;
    padding-right: 100px;
}

button{
    background-color: orange;
}
